* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

header {
    background-color:rgb(11, 105, 16);
    padding: 25px 25px 25px 
}
article{
    display: inline-block;
    text-align: center;
}

H2{
    background-color: rgb(223, 222, 222);

}

main{
    background-color: #eee;
    width: 70%;
    float: right;
}

aside{
    background-color: #888;
    width: 30%;
    float: left;
}

footer{
    width: 100%;
    float: inline-end;
    background-color: rgb(71, 71, 71);
    padding: 20px;
    /*Topo, Direita, Baixo, Esquerda*/
}